<h1>Product</h1>
<div class="item">
  name: <%= @product.name %>
</div>
<div class="item">
  quantity: <%= @product.quantity %>
</div>
<div class="item">
  price: <%= @product.price %>
</div>

<% if @product.images.attached? %>
  <% @product.images.each do |image| %>
    <div class="item">
      <%= image_tag(image) %>
    </div>
  <% end %>

<% end %>
