<h1>All products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.id %>
      <%= link_to product.name, product_path(product) %> 
      Price: <%= (user_signed_in? && is_premium?) ? discount_price(product.price) : product.price%>
    </li>
  <% end %>
  <%= paginate @products %>
</ul>